@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  margin: 0;
  background-color: white;
  padding: 0;
  text-align: center;
}


.dNav {
  transition: 300ms ease-in-out;
  width: 90%;
  position: absolute;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-92.5%);
  background-color: #272a31;
  color: white;
}

.brand {
  display: none;
}

ul {
  
  margin-top: 25px;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 22px;
}

.dNav a {
text-decoration: none ;
color: white;
}

.hamburger {
  background-color: #272a31;
  border: none;
  position: relative;
  top:10px;
  right: 42%;
  z-index: 10;
  cursor: pointer;
}

.hamburger span {
  transition: 300ms ease-in-out;
  background-color: white;
  display: block;
  width: 1.6rem;
  height: 3px;
  margin: 3.5px;
  font-weight: 900;
  border-radius: 10px;
}

.active.hamburger :nth-child(2) {
  opacity: 0;
}

.active.hamburger :nth-child(1) {
  transform: translateY(8px) rotate(45deg);

}
.active.hamburger :nth-child(3) {
  transform: translateY(-4.5px) rotate(-45deg);
}
  
.dNav.active {
  transform: translateY(-15%);
  
}

.dNav li:hover {
  background-color: grey;
}

.intro {
  margin-top: 17px;
  padding: 15px;
  background: url(./assest/event.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'cocogoose', sans-serif;
}
.intro .hello,
.intro h1,h2,h3,h4
.card span {
  font-family: 'cocogosse', sans-serif;
  color: #ec5242;;
}
.hello {
  margin-bottom: 0;
  font-size:1.7em ;
}
h1 {
  margin-top: 0;
  font-size: 1.7em;
}

.description {
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.616);
  z-index: 10;
  word-spacing: 2px;
  font-size: larger;
  margin-bottom: 26px;
  padding: 2%;
}

.intro a {
  color: #272a31;
}


p {
  font-family: 'lato', sans-serif;
  font-weight: 500;
}

.logo{
  background-color: #272a31;
  width: 100%;
}

.logo img {
  width: 100px;
  height: auto;
}

.about{
  padding: 0 15%;
}

.footer {
  display: flex;
  flex-direction: column;
  gap:30px;
  padding: 1% 10%
}

.about h4 {
  font-family: 'lato',sans-serif;
  font-size: x-large;
  color: #272a31;
  font-weight: 700;
  margin-bottom: 0;
}

.footer h4 {
  font-family: 'cocogoose', sans-serif;
  font-size: x-large;
  color: #272a31;
  font-weight: 400;
  margin-top: 55px;
}

.img {
  position: relative;
  height: 250px;
  width: 350px;
  margin: 0 auto;
}

.img img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(252, 86, 74, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.overlay:hover {
  opacity: 1;
}

.overlay h4 {
  color: white;
  margin: 0;
}

.foot {
  margin-top: 30px;
  text-align: left;
  gap: 40px;
  align-items: center;
  padding: 8% 15%;
  background-color: #272a31;
  display: flex;
  color: white;
}

.foot img {
  margin: 0;
  width: 100px;
  height: auto;
}


