@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.dNav {
  transition: 300ms ease-in-out;
  width: 90%;
  position: absolute;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-94%);
  background-color: rgb(223, 215, 215);
  color: #272a31;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
}

.lfooter {
  display: none;
}

.brand {
  display: none;
}

.Campaign{
  display: none;
}

.partners {
  display: none;
}

.card:hover{
  transform: scale(1.1);
}

.join:hover {background-color: rgb(240, 113, 113);
}

ul {
  margin-top: 37px;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 22px;
}

.dNav a {
text-decoration: none ;
color: #272a31;
}

.hamburger {
  background-color:rgb(223, 215, 215);
  border: none;
  position: relative;
  top:10px;
  right: 42%;
  z-index: 10;
  cursor: pointer;
}

.hamburger span {
  transition: 300ms ease-in-out;
  background-color:#272a31;
  display: block;
  width: 1.6rem;
  height: 3px;
  margin: 3.5px;
  font-weight: 900;
  border-radius: 10px;
}

.active.hamburger :nth-child(2) {
  opacity: 0;
}

.active.hamburger :nth-child(1) {
  transform: translateY(8px) rotate(45deg);

}
.active.hamburger :nth-child(3) {
  transform: translateY(-4.5px) rotate(-45deg);
}
  
.dNav.active {
  transform: translateY(-15%);
  
}

.dNav li:hover {
  background-color: grey;
}

.intro {
  padding-top: 10%;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  background: url(./assest/event.png);
  background-size: cover;
  text-align: left;
  background-repeat: no-repeat;
  font-family: 'cocogoose', sans-serif;
}

.description {
  background-color: rgba(255, 255, 255, 0.616);;
  font-family: 'lato', sans-serif;
  font-weight: 500;
  border: 2px solid white;
}

.see-more {
  display: none;
}

.intro .hello,
.intro h1,
.card span {
  color: #ec5242;;
}
.hello {
  margin-bottom: 0;
  font-size:1.7em ;
}
h1 {
  margin-top: 0;
  font-size: 1.7em;
}
.intro :nth-child(4) {
  font-weight: bold;
  font-size: 1.7em;
}
.mainProgram {
  padding: 3%;
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.mainProgram h2 {
  margin-bottom: 0;
}

.line {
  align-self: center;
  height: 2px;
  width: 30px;
  background-color: #ec5242;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container div {
  padding: 5%;
}

.mainProgram p,
.mainProgram h2,
.mainProgram button {color: white;
}

.card{
  display: flex;
  background-color: #5f5f5f50;
  flex-direction: row;
  gap: 8.5px;
  align-items: center;
}

.card p {
  font-size: 11px;
  text-align: left;
}

.card span {
  display: flex;
  align-items: center;
}

.join {
  background-color:#ec5242 ;
  padding: 5%;
  font-weight: 700;
  margin: 27px;
}

.s-card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: white;
  text-align: left;
}

.sc-img { 
  background-image: url(./assest/backimage.png);
  background-repeat: no-repeat;
  padding-top: 25px;
  padding-left: 25px;
}

.sc-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sc-content h4,
.sc-content p {
  margin: 0;
}

.speakrs {
  padding: 3% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  gap: 40px;
}

.speakrs span {
  color:#ec5242;
  font-family: 'cocogose',sans-serif;
}

.speakrs p {
font-family: 'lato', sans-serif;
font-size: 0.7em;
}

.speakrs h3 {
  font-family: 'lato', sans-serif;
}

.speakrs h4 {
  font-family: 'lato', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
}

@media screen and (min-width:768px) {

  .hamburger{
  display: none;
}

.brand{
  display: flex;
  gap: 6px;
  justify-content: start;
  align-items: center;
  width: 190px;
  text-align: left;
  text-decoration: none;
  color: #272a31;
}

.dNav {
  background-color: white;
  width: 72.7%;
  padding: 0 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
}

.intro{
  margin: 0;
 padding-top: 17%;
 padding-left: 15%;
 padding-right: 15%;
 padding-bottom: 11%;
}

.intro h1 {
  width: 86%;
  font-size: 2.7em;
}

.description {
  width: 60%;
}

.Campaign{
  display: block;
  margin: 0;
  padding: 4px;
  border: 2px solid #ec5242;
}


.dNav img {
  width: 70px;
  height: auto;
}

ul {
  margin-top: 25px;
  margin-right: -95Px;
  width: 37% ;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.mainProgram {
  padding: 3% 13%;
}

.join {
  display: none;
}

.see-more {
  display: block;
  font-size: smaller;
  word-spacing:.3em ;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'lato', sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

div .card {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.partners {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  
}

.partners h2 {
  color: grey;
  margin-bottom: ;
}

.partners .content {
  margin: -10px;
  display: flex;
  justify-content: space-around;
  padding: 2% 15%;
}

.fbrand{
  display: flex;
  gap: 6px;
  justify-content: start;
  align-items: center;
  width: 25%;
  text-align: left;
  text-decoration: none;
  color: #272a31;
}

.fbrand img {
  width: 70px;
  height: auto;
}

.lfooter{
  padding: 3% 12%;
  display: flex;
  gap: 50px;
  align-items: center;
}

.lfooter p {
  font-family: 'lato', sans-serif;
  text-align: left;
  width: 75%;
}

}

